<!-- En-tête -->
<header class="header-sticky header-light" style="background-color:white;">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand scroll-smooth-fast" href="#scroll-CTA">
        <%= image_tag "gobirdie-logo.png", class: "navbar-logo navbar-logo-light" %>
        <%= image_tag "gobirdie-logo.png", class: "navbar-logo navbar-logo-dark" %>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <a class="nav-link scroll-smooth-fast" href="#scroll-value" role="button">
              Valeur ajoutée
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-smooth-fast" href="#scroll-user" role="button">
              Expérience utilisateur 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-smooth-fast" href="#scroll-partners" role="button">
              Partenaires 
            </a>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item">
            <a class="btn btn-sm btn-primary px-2 scroll-smooth" href="#scroll-form" role="button">
              Je suis intéressé
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- En-tête -->

<!-- CTA -->
<section class="CTA" id="scroll-CTA">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center p-10">
        <h1 data-swiper-parallax="-100%" class="display-3">Aller jouer au golf n'a jamais été aussi <b>facile</b></h1>
      </div>
    </div>
  </div>
</section>
<!-- CTA -->

<!-- Valeur ajoutée du service -->
<section class="bg-primary pt-0 pb-1" id="scroll-value">
  <div class="separator-top pt-1 text-white">
  <h3 class="text-decorate text-white text-center mb-5 pr-2 pl-2">GoBirdie est la seule application qui étende l'expérience du golf jusqu'au centre de Paris</h3>
    <div class="container text-white">
      <div class="row">
        <div class="col-md-4 text-center">
          <i class="fas fa-concierge-bell fs-50 mb-1 text-white"></i>
          <h3 class="text-uppercase font-weight-normal fs-18 mt-2">Tous les services d'un clubhouse en plein centre ville</h3>
          <p>Stockage du matériel, vestiaires, bar/restaurant</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fas fa-dove fs-50 mb-1 text-white"></i>
          <h3 class="text-uppercase font-weight-normal fs-18 mt-2">La suppresion de toutes les contraintes logistiques</h3>
          <p>Plus besoin de voiture pour aller jouer</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fas fa-euro-sign fs-50 mb-1 text-white"></i>
          <h3 class="text-uppercase font-weight-normal fs-18 mt-2">Une réservation via l'application à tarif préférentiel</h3>
          <p>+ de 15 golfs partenaires autour de Paris</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Valeur ajoutée du service -->

<!-- Expérience utilisateur -->
<section class="pt-5 pb-0" id="scroll-user">
  <div class="container">
    <div class="row align-items-center justify-content-between" style="height:60vh;">
      <div class="col-12 col-lg-6 p-0" style="height:60vh;">
        <%= image_tag "montgolfiere.jpg", style:'height:60vh; width:100%;'%>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col">
            <h2 class="text-decorate">Un clubhouse exclusif au <b>coeur de Paris</b></h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-4" data-aos-anchor-placement="bottom-bottom">
            <i class="far fa-star fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Un cadre haut de gamme avec La Montgolfière</span>
          </div>
          <div class="col-4">
            <i class="fas fa-luggage-cart fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Le stockage de votre matériel sur place</span>
          </div>
          <div class="col-4">
            <i class="fas fa-shower fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Des vestiaires et un spa à disposition</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 pb-0">
  <div class="container">
    <div class="row align-items-center justify-content-between" style="height:60vh;">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col">
            <h2 class="text-decorate">Le <b>transport</b> vers le golf assuré par nos soins</h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-4" data-aos-anchor-placement="bottom-bottom">
            <i class="far fa-building fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Une prise en charge au pied du clubhouse</span>
          </div>
          <div class="col-4">
            <i class="far fa-laugh-beam fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Une course conviviale avec d'autres golfeurs</span>
          </div>
          <div class="col-4">
            <i class="far fa-clock fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Un temps de trajet optimisé</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0" style="height:60vh;">
        <%= image_tag "car.jpg", style:'height:60vh; width:100%;'%>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 pb-5">
  <div class="container">
    <div class="row align-items-center justify-content-between" style="height:60vh;">
      <div class="col-12 col-lg-6 p-0" style="height:60vh;">
        <%= image_tag "discount.jpg", style:'height:60vh; width:100%;'%>
      </div>
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col">
            <h2 class="text-decorate">Des green-fee à <b>-40%</b> ou plus</h2>
          </div>
        </div>
        <div class="row gutter-3">
          <div class="col-4" data-aos-anchor-placement="bottom-bottom">
            <i class="far fa-calendar-alt fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Une réservation par plage horaire</span>
          </div>
          <div class="col-4">
            <i class="fas fa-compress-arrows-alt fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Une mutualisation sur l'ensemble des golfs partenaires</span>
          </div>
          <div class="col-4">
            <i class="fas fa-code fs-40 mb-2 text-primary"></i>
            <span class="eyebrow">Un algorithme de réservation "Last Minute"</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Expérience utilisateur -->

<!-- Tarif -->
<section class="separator-top pt-3 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2><b>Le prix</b></h2>
        <p class="lead">S'abonner à GoBirdie est avantageux dès le premier parcours joué </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card card-price-3">
          <div class="card-body bg-light">
            <h4 class="card-title font-weight-bold text-purple">Abonnement mensuel</h4>
            <strong class="card-price">30€/mois</strong>
            <p>Incluant: les services du clubhouse, le transport et les green-fees à tarifs préférentiels</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Tarif -->

<!-- Formulaire -->
<section class="bg-primary pt-5 pb-5" id="scroll-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="boxed p-5">
          <div class="container">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-8">
                <h2 class="display-3 mb-1">L'application gratuitement en <b>avant-première</b></h2>
                <p>Devenez également bêta-testeur</p>
                <%= form_tag landing_pages_path, method: "post" do %>
                  <div class="input-group mt-2">
                    <%= text_field_tag 'email', nil, class: 'orm-control px-3', placeholder: 'tiger@woods.com' %>
                    <div class="input-group-append">
                      <%= submit_tag "Je m'inscris",  class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= image_tag "form.jpg"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Formulaire -->

<!-- Partenaires -->
<section class="separator-bottom pt-5 pb-5" id="scroll-partners">
  <div class="container" >
    <div class="row justify-content-center mb-0">
      <div class="col-md-6 text-center">
        <h3>Nos partenaires</h3>
      </div>
    </div>
    <div class="row mt-0">
      <div class="col partners align-items-center">
        <div class="owl-carousel" data-items="[3,3,3]" data-loop="false" data-autoplay="false">
            <%= image_tag "ffgolf-logo.jpg", class: "logo"%>
            <%= image_tag "bluegreen-logo.png", class: "logo"%>
            <%= image_tag "montgolfiere-logo.png", class: "logo"%>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Partenaires -->

<!-- Pied de page -->
<footer class= "row justify-content-between align-items-center footer-style navbar navbar-inverse navbar-fixed-bottom pt-1 pb-1">
  <div class="col-md-4 text-center">
    <ul class="nav">
      <li class="nav-item">
          <%= mail_to 'dixneuvieme.golf@gmail.com', 'Nous contacter', class: 'nav-link' %>
      </li>
    </ul>
  </div>
  <div class="col-md-4 text-center">
    <%= image_tag "gobirdie-logo.png", class: "logo-sm" %>
    <p class="copyright-text" style="padding-top:5px;"> Fait en 2019 à Paris avec <i class="fas fa-heart fa-lg"></i></p>
  </div>
  <div class="col-md-4 text-center">
      <a href="https://www.facebook.com/19emetrou" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>     
  </div>
</footer>
<!-- Pied de page -->